.text {
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

#remove-button {
    width: 25px;
    height: 40px;
    cursor: pointer;
}

#selection {
    width: auto;
    color: pink;
}